  /* FORMULARIO DE LOGIN */
#form_login{
margin-left: auto; margin-right: auto; margin-top:60px; padding-top: 25px;
}
#form_login .padding{
    padding:0px 0px 4px 40px; 
}
#form_login label{
    color: #484848; font-size:14px;
}
#form_login .input{       
    -moz-border-radius: 7px; -khtml-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px; 
    background-color: #f9f9f9;border: 1px solid #cacaca;
    font-size: 15px;padding: 8px 10px;width: 300px;
}   
#form_login .submit{
    -moz-border-radius: 15px;-khtml-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px;    
    -webkit-box-shadow: 2px 3px 4px 3px #ccc;box-shadow: 2px 3px 4px 3px #ccc;
    font-family: arial,verdana,sans-serif; background-color: #f9f9f9;border: 1px solid #cacaca; font-size:14px;
    font-weight: bold; padding: 8px 10px; cursor: pointer; 
    margin-left:135px; width: 90px;
}

#header h1 {
    text-align: center;
}

#form_login {
    margin: 0 auto;
    width: 30%;
}

#form_login .input {
    width: 100%;
}

#form_login .submit {
    margin-left: 0px;
}

#form_login .padding {
    padding: 0px 0px 4px 0px;
}